{% extends "headers.html" %}
{% block content %}

<!-- Main Content -->
<main>
  <div class="container">
    <h1>Contact Us</h1>
    <p class="display-7">
      If you have any questions or suggestions, please feel free to contact us. We are always looking for ways to
      improve
      our service.
    </p>
    <div style="display: none;" class="alert alert-success" id="success-alert" role="alert">
      Thank you for contacting us! We will get back to you soon.
    </div>

    <form id="form">
      <div class="mb-3">
        <label for="name" class="form-label">Name :</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ user_name }}">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email :</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user_email }}">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message:</label>
        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
      </div>
      <input type="submit" class="btn btn-primary" id="button" value="Submit" >
      <!-- <button type="submit" id="button" class="btn btn-primary" value="Send Email"></button> -->
    </form>
  </div>
</main>
<!-- Share Icon -->
<div class="floating-container">
  <div class="floating-button">
    <i class="fa-solid fa-share-from-square"></i>
  </div>
  <!-- Elements -->
  <div class="element-container">
    <!-- Facebook -->
    <a class="float-element" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//sanjeev02.pythonanywhere.com/"
      target="_blank">
      <span>
        <i class="fa-brands fa-facebook"></i>
    </a>

    <!-- WhatsApp -->
    </span>
    <a class="float-element"
      href="https://api.whatsapp.com/send?text=Check%20out%20this%20page:%20https://sanjeev02.pythonanywhere.com"
      target="_blank">
      <span>
        <i class="fa-brands fa-whatsapp"></i>
      </span>
    </a>

    <!-- Twitter or X -->
    <a class="float-element"
      href="https://twitter.com/intent/tweet?text=Check%20out%20this%20page:%20https://sanjeev02.pythonanywhere.com"
      target="_blank">
      <span>
        <i class="fa-brands fa-x-twitter"></i>
      </span>
    </a>

    <!-- LinkedIn -->
    <a class="float-element"
      href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//sanjeev02.pythonanywhere.com" target="_blank">
      <span>
        <i class="fa-brands fa-linkedin"></i>
      </span>
    </a>

    <!-- Telegram -->
    <a class="float-element"
      href="https://t.me/share?url=https%3A%2F%2Fsanjeev02.pythonanywhere.com%2F&text=Check%20this%20out"
      target="_blank">
      <span>
        <i class="fa-brands fa-telegram"></i>
      </span>
    </a>

  </div>
</div>

<!-- Footer -->

<footer class="jumbotron text-center text-white fixed-bottom" style="background-color: #030303">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0)">
    <p>&copy {{now.year}} Copyright</p>
    <p>
      Made With 🩷 By
      <a style="color: #0ed9ddd6; text-decoration: none" href="#">Sanjeev</a>
    </p>
  </div>
</footer>

<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

  <!-- EmailJS Setup -->
<script type="text/javascript">
  emailjs.init('Public Key') // Replace with your emailjs public key
</script>

<script>

const btn = document.getElementById('button');
const alerter = document.getElementById('success-alert');

document.getElementById('form')
 .addEventListener('submit', function(event) {
   event.preventDefault();

   btn.value = 'Submitting...';

   const serviceID = 'service_id'; // Replace with your service_id
   const templateID = 'template_id'; // Replace with yout template id

   emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
      alerter.style.display = 'block';
      btn.value = 'Submitted';
      
    }, (err) => {
      btn.value = 'Submit';
      alert(JSON.stringify(err));
    });
});


</script>

{% endblock %}
</body>

</html>