{% extends "headers.html" %}
{% block content %}
    <!-- Main Content -->
    <main>
      <div class="container">
        <h1>Weather Information</h1>
        <h5><b>Location:</b> {{weather_data['resolvedAddress']}}</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Current Weather Conditions</th>
              <th>Max Temperature (in °C)</th>
              <th>Min Temperature (in °C)</th>
              <th>Precipitation Probability</th>
              <th>Humidity</th>
              <th>Weather Alerts</th>
            </tr>
          </thead>
          <tbody>
            {% for weather_data_item in weather_data['days'] %}
            <tr>
              <td>{{ weather_data_item['datetime'] }}</td>
              <td>{{ weather_data_item['conditions'] }}</td>
              <td>{{ weather_data_item['tempmax'] }}</td>
              <td>{{ weather_data_item['tempmin'] }}</td>
              <td>{{ weather_data_item['precipprob'] }}</td>
              <td>{{ weather_data_item['humidity'] }}</td>
              <td>{{ weather_data_item['description'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="container">
        <!-- Paragraph of plan with markdown syntax -->
        <h1>Planned Itinerary</h1>
        <code
          ><h6>
            **This is a tentative itinerary, so please be flexible, it may have
            some mistakes.
          </h6></code
        >

        <div id="markdown-content">{{ plan }}</div>
      </div>

      <!-- Hotels at Destination -->
      <div class="md-4 pd container">
        <h5>
          For Hotels & Flight Booking:
          <a style="text-decoration: none" href="https://www.booking.com" target="_blank">
            <button
              type="button"
              class="btn btn-light"
            >
              Click Here
            </button>
          </a>
        </h5>
      </div>
    </main>
    <!-- Footer -->
    <footer
      class="jumbotron text-center text-white fixed-bottom"
      style="background-color: #030303;"
    >
      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: rgba(255, 255, 255, 0)"
      >
        <p>&copy {{now.year}} Copyright</p>
        <p>
          Made With 🩷 By
          <a style="color: #0ed9ddd6; text-decoration: none" href="#"
            >Sanjeev</a
          >
        </p>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- 
      This script tag includes the Bootstrap JavaScript bundle from a CDN with a specific version and integrity hash for security purposes.
    -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- 
    This script sets a timeout function to remove all elements with the class "alert" after a certain duration. 
    It first sets the opacity of the elements to 0 to initiate the transition, and then removes the elements after the transition duration. 
    The delay for the transition duration can be adjusted by changing the value of the second setTimeout function. 
    -->
    <script>
      setTimeout(function () {
        const alerts = document.querySelectorAll(".alert");

        alerts.forEach(function (alert) {
          // Set opacity to 0 to initiate the transition
          alert.style.opacity = 0;
        });

        // After the transition duration, remove the alert elements
        setTimeout(function () {
          alerts.forEach(function (alert) {
            alert.style.display = "none";
          });
        }, 1000); // Adjust this delay to match your transition duration (in this case, 1 second)
      }, 5000);
    </script>

    <!-- This script tag includes the markdown-it library from the specified CDN. -->
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@11.0.1/dist/markdown-it.min.js"></script>

    <!-- This script creates a Markdown parser, converts the Markdown text to HTML, and inserts the converted HTML into the document. The Markdown text is obtained from an element with the ID "markdown-content". -->
    <script>
      // Create a Markdown parser
      const md = window.markdownit();

      // Convert the Markdown text to HTML
      const html = md.render(
        document.getElementById("markdown-content").textContent
      );

      // Insert the converted HTML into the document
      document.getElementById("markdown-content").innerHTML = html;
    </script>
    {% endblock %}
  </body>
</html>
